.title_favoris{
  text-align: center;
  color:#FF9616 ;
  font-family: 'Grand Hotel', cursive;
  font-weight: 300;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.favoris{
  display: flex;
  flex-wrap: wrap;
  gap: .3rem;
}

  
