.title_mentionsLegales{
  text-align: center;
  margin: 20px 0;
  font-size: 200%;
  font-weight: 600;
  color: #FF9616;
}

.small_title_mentionsLegales{
  text-align: left;
  margin: 20px 0;
  font-size: 120%;
  font-weight: 600;
  color: #FF9616;
}